table {
  border-collapse: collapse;
  box-shadow: 0.2rem, 0.2rem, 0.1rem, rgba(14, 56, 97, 0.2);
}

th {
  font-weight: bold;
}

th, td {
  border: 0.1rem solid rgba(104, 113, 120, 0.2);
}

tr:nth-child(even) {
  background-color: rgba(197, 210, 221, 0.2);
}

tr:nth-child(odd) {
  background-color: rgba(100, 177, 235, 0.2);
}