table {
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

th, td {
  border: 0.2rem solid rgba(104, 113, 120, 0.7);
}

tr:nth-child(even) {
  background-color: rgba(197, 210, 221, 0.5);
}

tr:nth-child(odd) {
  background-color: rgba(100, 177, 235, 0.5);
}